@font-face {
    font-family: 'BYekan';
    src: url('../fonts/BYekan-webfont.eot') format('eot'), url('../fonts/BYekan-webfont.woff') format('woff'), url('../fonts/BYekan-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    direction: rtl;
    font-family: BYekan;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 14px !important;
    }
}

header {
    overflow: hidden;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

a,
a:hover,
a:active,
a:visited {
    text-decoration: none!important;
}

*:focus {
    outline: 0 !important;
}

h1 {
    font-size: 1.2rem !important;
}

h2 {
    font-size: 1.1rem !important;
}

h3 {
    font-size: 1rem !important;
}

h4 {
    font-size: 0.8rem !important;
}

.container-fluid {
    background-color: #231553;
}

.inner-slider {
    height: 400px;
}

.plan {
    background-color: #34256a;
    height: 400px;
}

.plan-body {
    /* padding-top: 10rem!important; */
    padding: 3rem;
    /* border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-radius: 50% 50% 0 0; */
}

.popular {
    background-color: #34256a;
    height: 300px;
}

.introduce {
    height: 300px;
    background-color: #34256a;
}

#mainNav {
    background-color: #2c1e59!important;
}

.card {
    background-color: #34256a!important;
}

.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #fff;
    border-radius: 30px;
    padding: 10px;
}

.search_input {
    float: right;
    width: 83%;
    outline: 0;
    background: none;
    caret-color: transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}

.searchbar:hover>.search_icon {
    background: white;
    color: #e80767;
}

.search_icon {
    height: 40px;
    width: 15%;
    float: right;
    background: #e80767;
    border-radius: 40%;
    text-decoration: none;
}

footer {
    height: 700px;
    margin: 0;
    padding: 0;
    background-image: url('../img/group.svg');
    background-size: 100%;
    /* background-attachment: fixed; */
    background-position: bottom;
    background-repeat: no-repeat;
}