@font-face {
    font-family: 'BYekan';
    src: url('../fonts/BYekan-webfont.eot') format('eot'), url('../fonts/BYekan-webfont.woff') format('woff'), url('../fonts/BYekan-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    direction: rtl;
    font-family: BYekan;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 14px !important;
    }
}

header {
    overflow: hidden;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

a,
a:hover,
a:active,
a:visited {
    text-decoration: none!important;
}

*:focus {
    outline: 0 !important;
}

h1 {
    font-size: 1.2rem !important;
}

h2 {
    font-size: 1.1rem !important;
}

h3 {
    font-size: 1rem !important;
}

h4 {
    font-size: 0.8rem !important;
}

#mainNav {
    background-color: #2c1e59!important;
}

.card {
    background-color: #34256a!important;
}

.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #fff;
    border-radius: 30px;
    padding: 10px;
    width: 450px;
}

.search_input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    caret-color: transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}

.searchbar:hover>.search_icon {
    background: white;
    color: #e74c3c;
}

.search_icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    background: #e74c3c;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    text-decoration: none;
}